.navbar-container {
  display: flex;
  background-color: rgb(31, 31, 47);
  color: white;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.icons {
  height: 30px;
}

.brand-icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.brand-icon-container > h2 {
  margin: 0;
}

.searchBox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBox-container > input {
  padding: 5px;
  background: transparent;
  border: 0;
  color: white;
  width: 500px;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-text-and-bell-container {
  display: flex;
  gap: 10px;
}

.name-with-logout-btn-container {
  display: flex;
  gap: 10px;
}

.first-letter-of-the-name {
  background-color: green;
  border-radius: 50%;
  padding: 5px 9px;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn {
  background: transparent;
  border: 0;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .searchBox-container > input {
    width: 200px;
  }
}

@media (max-width: 440px) {
  .searchBox-container,
  .navbar-text-and-bell-container,
  .name-container > span {
    display: none;
  }

  .name-with-logout-btn-container {
    display: flex;
    gap: 10px;
  }
}
